<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>

    <script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>-->
    <link href="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.js"></script>
</head>
<body>
<div id="app">
    <p><a href="javascript:;" @click="now = '我的文件柜'">我的文件柜</a></p>
    <p><a href="javascript:;" @click="now = '共享文件柜'">共享文件柜</a></p>
    <div v-if="now == '我的文件柜'">
        <div v-if="dir != '/'">
            <a href="javascript:;" @click="goTop()">上一级</a>
        </div>
        <hr>
        <h5>文件夹</h5>
        <div v-for="(item,index) in folders" style="width: 200px;overflow: hidden;">
            <a style="float: left;" href="javascript:;" @click="enterDir(item)"> {{item.folderName}}</a>
            <a style="float: right;" href="javascript:;" @click="deleteDir(item,index)">删除</a>
            <a style="float: right;" href="javascript:;" @click="renameDir(item)"> 重命名</a>
        </div>
        <hr>
        <h5>文件</h5>
        <div v-for="(item,index) in files" style="width: 200px;overflow: hidden;">
            <a style="float: left;" href="javascript:;" target="_blank"
               :href="'http://192.168.31.201:8070/open/clouddisk/download?fileName=/' + dirStack.join('/') + item.fileName">
                {{item.fileName}}</a>
            <a style="float: right;" href="javascript:;" @click="deleteFile(item,index)">删除</a>
            <a style="float: right;" href="javascript:;" @click="renameFile(item)"> 重命名</a>
            <a style="float: right;" href="javascript:;" @click="shareFile(item)"> 分享</a>
        </div>

        <div style="margin-top: 100px">
            <a href="javascript:;" @click="createFolder()">创建文件夹</a>
            <div></div>
            文件名:
            <input type="text" id="fileName" v-model="fileName">
            <a href="javascript:;" @click="uploadFile">开始上传</a>
        </div>


    </div>

    <div v-if="now == '共享文件柜'">
        <div v-for="(item,index) in shareFiles" style="width: 200px;overflow: hidden;">
            {{item.fileIndex.fileName}}
        </div>
    </div>

</div>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <!--<button id="ctlBtn" class="btn btn-default">开始上传</button>-->
    </div>
</div>
<form action="http://192.168.1.104:8080/api/workflow/model/node/addCheck" method="post">
    <input type="text" name="states[0].item" value="1">
    <input type="text" name="states[0].condition" value="2">
    <input type="text" name="states[0].behavior" value="3">
    <input type="text" name="states[1].item" value="1">
    <input type="text" name="states[2].condition" value="2">
    <input type="text" name="states[3].behavior" value="3">
    <input type="hidden" name="Authorization" value="su"/>
    <input type="submit">
</form>

<script>
    // $.ajax({
    //     url:"http://192.168.1.104:8080/api/workflow/model/node/addCheck",
    //     headers:{
    //         Authorization: "su"
    //     },
    //     type:"post",
    //     data:[
    //         {
    //             item:1
    //         }
    //     ]
    // });


    var ajax = function (url, data, method) {
        return new Promise(function (resole, reject) {
            $.ajax({
                url: 'http://192.168.31.201:8070/api' + url,
                headers: {
                    Authorization: "su"
                },
                type: method || "post",
                dataType: "json",
                data: data || {},
                cache: false,
                success: function (ret) {
                    resole(ret);

                }

            })
        })
    };
    ajax("/fullMenus", {}, "get");

    ajax("", {
        request: JSON.stringify({
            method: "get",
            "CloudDirectoryIndex": {
                "&children": {},
                $where: {
                    folderName: "/"
                }
            }
        })
    })

    var app = new Vue({
        el: "#app",
        data: {
            folders: [],
            files: [],
            dir: "/",
            dirStack: [],
            fileName: "",
            now: "",
            shareFiles: [],
            fullDirs: []
        },
        methods: {
            refreshDir() {
                this.dir = this.dirStack.join("/");
                this.dir = "/" + this.dir;
            },
            async loadDir(id)
    {
        this.refreshDir();
        if (id) {
            var ret = await
            ajax("", {
                request: JSON.stringify({
                    method: "get",
                    "CloudDirectoryIndex": {
                        "children": {},
                        $where: {
                            id: id

                        }
                    }
                })
            });
        }
        else {
            var ret = await
            ajax("", {
                request: JSON.stringify({
                    method: "get",
                    "CloudDirectoryIndex": {
                        "children": {},
                        $where: {
                            folderName: "/"
                        }
                    }
                })
            });
        }

        if (ret.success) {
            this.folders = ret.message.CloudDirectoryIndex.children;
            // this.folders = ret.message.CloudDirectoryIndex;
        }
        ret = await
        ajax("", {
            request: JSON.stringify({
                method: "get",
                "CloudFileIndex[]": {
                    $where: {
                        // directoryIndex: ret.message.CloudDirectoryIndex.id
                    }
                }
            })
        });
        if (ret.success) {
            this.files = ret.message["CloudFileIndex[]"];
        }
        // var ret = await ajax("/clouddisk/files",{dir:this.dir})
        // if(ret.success){
        //     this.folders = ret.message.dirs;
        //     this.files = ret.message.files
        // }

    }
    ,
    async
    loadShareDir()
    {
        var ret = await
        ajax("/clouddisk/shareFiles");
        if (ret.success) {
            this.shareFiles = ret.message.content;
        }
    }
    ,
    async
    enterDir(item)
    {
        this.dirStack.push(item.folderName);
        this.loadDir(item.id)
    }
    ,
    goTop()
    {
        this.dirStack.pop();
        this.loadDir();
    }
    ,
    async
    createFolder()
    {
        var name = prompt("文件夹名");
        if (name == null || name.trim() == "") {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(name);
        var dir = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/createDir', {dir: dir});
        if (ret.success) {
            this.folders.push({folderName: name})

        }
    }
    ,
    async
    deleteDir(item, index)
    {
        if (!confirm("")) {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(item.folderName);
        var dir = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/deleteDir', {dir: dir});
        if (ret.success) {
            this.folders.splice(index, 1);
        }
    }
    ,
    async
    renameDir(item, index)
    {
        var name = prompt("文件夹名");
        if (name == null || name.trim() == "") {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(item.folderName);
        var old = "/" + stack.join("/");
        stack.pop();
        stack.push(name)
        var dir = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/renameDir', {oldDir: old, dir: dir});
        if (ret.success) {
            item.folderName = name;
        }
    }
    ,
    async
    uploadFile()
    {
        if (this.fileName == "") {
            alert("没写文件名");
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(this.fileName);
        var old = "/" + stack.join("/");
        var ret = await
        ajax("/file/upload/apply", {fileName: old});
        if (!ret.success) {
            return;
        }

        uuid = ret.message;
        uploader.upload();
    }
    ,

    async
    deleteFile(item, index)
    {
        if (!confirm("")) {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(item.fileName);
        var bytes = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/deleteFile', {file: file});
        if (ret.success) {
            this.files.splice(index, 1);
        }
    }
    ,

    async
    renameFile(item, index)
    {
        var name = prompt("文件名");
        if (name == null || name.trim() == "") {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(item.fileName);
        var old = "/" + stack.join("/");
        stack.pop();
        stack.push(name)
        var dir = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/renameFile', {oldFile: old, newFile: dir});
        if (ret.success) {
            item.fileName = name;
        }
    }
    ,

    async
    shareFile(item, index)
    {
        var name = prompt("用户ID");
        if (name == null || name.trim() == "") {
            return;
        }
        var stack = this.dirStack.concat();
        stack.push(item.fileName);
        // var old = "/" + stack.join("/");
        // stack.pop();
        // stack.push(name)
        var dir = "/" + stack.join("/");
        var ret = await
        ajax('/clouddisk/shareFile', {toUid: name, fileName: dir});
        if (ret.success) {
            alert("success")
        }
    }
    ,


    }
    })
    ;

    var uuid = "";
    app.loadDir()
    app.loadShareDir()

    var BASE_URL = "http://192.168.31.201:8080/"
    var uploader = WebUploader.create({

        // swf文件路径
        swf: BASE_URL + '/js/Uploader.swf',

        // 文件接收服务端。
        server: 'http://192.168.31.201:8070/api/file/upload/start',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        // auto: true,
        chunked: true,
        chunkSize: 512 * 1024,
    });


    uploader.on("uploadBeforeSend", function (bytes, data, headers) {
        console.log(file, data, headers)
        data.uuid = uuid;
        headers.Authorization = "su";
    })
    uploader.on('uploadProgress', function (bytes, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress .progress-bar');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
        }

        $li.find('p.state').text('上传中');

        $percent.css('width', percentage * 100 + '%');
    });

    uploader.on("uploadSuccess", function () {
        console.log("success");
        $.ajax({
            type: "post",
            url: "http://192.168.31.201:8070/api/file/upload/finish",
            data: {
                uuid: uuid
            },
            headers: {
                Authorization: "su"
            },
            dataType: "json",
            success: function (ret) {
                if (ret.success) {
                    app.files.push({fileName: ret.message})
                }
            }
        })
    })
</script>
</body>
</html>