<%
var RIGHTHTML = {
%>

<div :controller="app">
    <h3 :html="@data.title"></h3>

    <div>
        <h4>选择业务版本</h4>
        <select name="" id="" :duplex="version">
            <option value="">选择业务版本</option>
            <option :attr="{value:@data.workflow.version}" :html="@data.workflow.version"></option>
        </select>
    </div>

    <div :for="(index,el) in @data.workflow.model" :if="index == @data.step" class="step_form">
        <wbr :widget="{is: el.type + 'Node',data: el, edit:false }"/>
    </div>


    <a href="javascript:;" :click="@submitForm()">提交</a>
</div>

<script>
    var workflowstr = '${workflow}';
    var userstr = '${user}';
    var workflow;
    var user;
    do{
        try{
            workflow = eval("(" + workflowstr + ")");
            user = eval("(" + userstr + ")");
        }catch (e){
            break;
        }
    }while(0);


    var app = avalon.define({
        $id: 'app',
        data: {
            title: workflow.name,
            workflow : workflow,
            step:0,
            version:"",
            // user
        },
        submitForm:function(){
            //当前需要填写的节点
            var model = this.data.workflow.model[this.data.step];
            var canContinue = true;
            if(model.type == 'ziliao'){
                var data = {};
                /**
                 * 这里整理的方法不对，但是avalon没有提供对子组件的引用以及对应的状态管理，后续通过vue解决
                 */
                //整理需要提交的数据
                $(".step_form table tr").each(function () {
                    var children = $(this).find('td');
                    var title = children.eq(0).text();
                    var type = children.eq(1).text();
                    //是否必填
                    var required = children.eq(2).text().trim() == '是';

                    console.log(type)
                    //取值
                    switch (type){
                        case '单行文本':
                        case '多行文本':
                            data[title] = children.eq(3).val();
                            break;
                        case '单选框':
                            data[title] = children.eq(3).find(":checked").val()
                            break;

                    }

                    if(required && !data[title]){
                        canContinue = false;
                    }

                });
            }

            if(!canContinue){
                return alert("你还有没有填写的内容");
            }

            $.post("pub",{
                workflowId: this.data.workflow.id,
                version: this.data.version,
                content: JSON.stringify(data)
            },function (json) {

            },'json');

        }
    });
</script>

<% }; %>

<%
include("../layout.html",{RIGHTHTML:RIGHTHTML}){}
%>