<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 添加工作流 </title>
    <!--#include file="/htmlsrc/header.html" -->

    <!--<link rel="stylesheet" href="/static/vendor/webUploader/webuploader.css">-->
    <script src="/static/vendor/webUploader/webuploader.min.js"></script>
</head>
<body>
    <div id="content"> 
        <div id="addForm">
        </div>
    </div>
    <script id="tmpl" type="text/html">
        <!-- <div class="panel-heading">{{panelTitle}}</div> -->
        <div class="panel-body">
            <form name="{{formName ? formName : 'form-search'}}"  class="form-horizontal">
                <div class="row panel-form-input-group">
                {{each formAttr value}}
                    {{if value.type == 'hidden'}}
                        <input type="hidden"  name="{{value.prop}}" value="{{data[value.prop]}}">
                    {{else if value.manifest}}
                        <div class="col-xs-12 form-group ">
                            <label class="col-xs-2 text-right" style="width:16.22%">{{if value.required}}
                                    <span style="color:red">*</span>
                                {{/if}}
                                {{value.label}}</label>
                            <div class="col-xs-6">
                                <input type="text" id="{{value.prop}}" name="{{value.prop}}" value="{{data[value.prop]}}" {{value.disabled ? 'readonly' : ''}}>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-default btn-sm groupBtn" type="button" id="groupBtn-{{value.prop}}">{{value.manifest}}</button>
                            </div>
                        </div>
                    {{else}}
                    <div class="col-xs-{{value.width ? value.width : 12}} form-group "
                     data-show="{{value.show}}"
                    >
                        <label for="{{value.prop}}" class="col-xs-{{value.labelWidth ? value.labelWidth : 3}} text-right">
                            {{if value.required}}
                                <span style="color:red">*</span>
                            {{/if}}
                            {{value.label}}
                        </label>
                        <div class="col-xs-8" style="padding-right: 15px;
                        padding-left: 15px; max-width:400px">
                        {{if !value.type || value.type == 'input' }}
                            {{if value.inputGroup }}
                            <div class="input-group"> 
                                    <input type="text" class="form-control input-sm" id="{{value.prop}}" name="{{value.prop}}" value="{{data[value.prop]}}" {{value.disabled ? 'readonly' : ''}}>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm groupBtn" type="button" id="groupBtn-{{value.prop}}">{{value.inputGroup}}</button>
                                    </span>
                                </div>
                            {{else}}
                                    <input type="text" class="form-control input-sm" id="{{value.prop}}" name="{{value.prop}}" value="{{data[value.prop]}}" {{value.disabled ? 'readonly' : ''}}>
                            {{/if}}
                        {{else if value.type == 'select'}}
                            <select class="form-control input-sm" id="{{value.prop}}" name="{{value.prop}}" value="{{data[value.prop]}}">
                                {{each value.vals val}}
                                <option value="{{val.val}}" {{data[value.prop] == val.val ? 'selected' : ''}} {{value.disabled ? 'readonly' : ''}} >{{val.name}}</option>
                                {{/each}}
                            </select>
                        {{else if value.type == 'checkbox'}}
                            {{each value.vals v }}
                            <input type="checkbox" name="{{value.prop}}" {{ $imports.indexOf(data[value.prop], v.val) == true ? 'checked' : ''}} value="{{v.val}}" {{value.disabled ? 'readonly' : ''}}>
                            {{v.name}}&nbsp;&nbsp;
                            {{/each}}
                        {{else if value.type == 'textarea'}}
                            <textarea class="form-control input-sm" rows="7" id="{{value.prop}}" name="{{value.prop}}" value="{{data[value.prop]}}" {{value.disabled ? 'readonly' : ''}}>{{data[value.prop]}}</textarea>
                        {{/if}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <hr>
                <div class="col-xs-12">
                    <ul id="uploadfiles" class="file-list">
                    </ul>
                </div>
                <div class="col-xs-12 text-center" style="padding:20px 0;">
                    <!--<button type="reset" class="btn btn-default">重 置</button>-->
                    <style>
                        .webuploader-pick{
                            background-color: #f0ad4e;
                            display: block;
                        }
                    </style>
                    <div id="picker" style="float: none; display: inline-block;margin-right:10px; vertical-align: middle">
                        <i class="glyphicon glyphicon-book"></i>
                        上传附件
                    </div>
                    <button type="button" class="btn btn-warning"  style="margin-right: 10px; position: relative; overflow: hidden; display: none;">
                        <i class="glyphicon glyphicon-book"></i>
                        上传附件

                        <style>
                            /*#picker{*/
                                /*width: 100px;*/
                                /*height: 34px;*/
                                /*float: none;*/
                            /*}*/
                            /*.webuploader-pick{*/
                                /*width: 100%;*/
                                /*height: 100%;*/
                                /*padding: 0;*/
                                /*margin: 0;*/
                                /*background: none;*/
                                /*display: block;*/
                            /*}*/
                            /*#picker{*/
                                /*position:absolute;width: 1000px;height: 1000px;left: 0;top: 0;background: none;*/
                            /*}*/
                            /*#picker div, #picker input, #picker object{*/
                                /*display: block !important;*/
                                /*position: absolute !important;*/
                                /*left: 0 !important;*/
                                /*top: 0 !important;*/
                                /*width: 1000px !important;*/
                                /*height: 1000px !important;*/
                            /*}*/
                        </style>
                        <!--<div id="picker" style="position: ">&nbsp;</div>-->
                    </button>

                    <button type="button" href="javascript:;" class="btn btn-info" id="submitData" style="margin-right: 10px;">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        保存数据
                    </button>
                    <button type="button" href="javascript:;" class="btn btn-primary" id="goToNext">
                        <i class="glyphicon glyphicon-hand-right"></i>
                        发布提交
                    </button>

                </div>
            </form>
        </div>
    </script>

     <!-- toolbar渲染模板 -->
     <!--<script type="text/html" id="toolbar">-->
         <!--<tr data-key="{{d.uuid}}" data-per="0" class="upload-state">-->
             <!--<td valign="middle">{{d.name}}</td>-->
             <!--<td valign="middle">{{d.tags || ""}}</td>-->
             <!--<td class="state">-->
             <!--</td>-->
             <!--<td>-->
                 <!--<div class="layui-toolbar" style="">-->
                     <!--<button type="button" class="disabled btn handlePutName btn-default" data-name="{{d.name.replace(new RegExp('.'+d.ext),'')}}" data-id="{{d.id}}" data-index="{{d.LAY_TABLE_INDEX}}">重命名</button>-->
                     <!--<button type="button" class="btn handleDelFile btn-danger" data-id="{{d.id}}" data-index="{{d.LAY_TABLE_INDEX}}">删除</button>-->
                     <!--<button type="button" class="disabled btn handleSetTag btn-default" data-index="{{d.LAY_TABLE_INDEX}}">设置标签</button>-->
                     <!--<a class="disabled btn btn-default" href="{{remoteOrigin}}/api/file/download?fid={{d.id}}&name={{d.name}}">下载</a>-->
                 <!--</div>-->
             <!--</td>-->
         <!--</tr>-->
    <!--</script>-->
    <script type="text/html" id="putNameForm">
        <!-- 修改文件/文件夹名称 -->
        <div class="col-xs-12" style="margin-top:10px;">
                <input type="hidden" name="putIndex">
            <input type="hidden" name="putId">
            <input type="text" class="form-control" name="putName">
        </div>
        <div class="col-xs-12 text-center" style="margin-top:10px;">
            <a type="button" class="btn btn-default" onClick="cancelPutName()">取消</a>
            <a type="button " class="btn btn-primary" onClick="confirmPutName()">确定</a>
        </div>
    </script>
    <!-- <script src="/static/vendor/bootcss/js/bootstrap.min.js"></script> -->
    <script src="./nodeFormFix.js"></script>
    <script>
        template.defaults.imports.indexOf = function (value, val){
            return (value instanceof Array && value.indexOf(val) > -1) ? true : false;
        };
    </script>
    <script>
        var modelName = decodeURI(getParam("name"));
        var workFlowModel;
        var loanId = getParam("loanid") || 'undefined'; // 台账ID
        var loanAccount = getParam("loanid") || ""
        var cusId = getParam("cusid") || 'undefined'; // 客户ID
        var cusType = getParam("custype") || 'undefined'; // 客户类型
        // var defaultData = {}; // 缺省填充继承数据
        var dataSource; // 数据来源
        var dataId; // 数据Id
        var startNodeKeys = []; // 开始节点keys
        var innatesKyes = []; // 固有字段keys
        var currUser = getUserById();
        var getInnateAccloanDataUrl;
        var isPonit = false;
        if(loanId != 'undefined'){
            // 从台账发起
            dataSource = "ACC_LOAN";
            dataId = loanId;
            if(modelName == enumWorkFlowModel.preLendingCollect){
                // 台账列表处发起 && 资料收集
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData1;
            }else if(modelName == enumWorkFlowModel.menuApply){
                // 台账列表处发起 && 菜单权限
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData2;
            }else if(modelName == enumWorkFlowModel.postLoanTaskMiniCompany){
                // 台账列表处发起 && 贷后跟踪-小微部公司类
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData3;
            }else if(modelName == enumWorkFlowModel.postLoanTaskMiniPerson){
                // 台账列表处发起 && 贷后跟踪-小微部个人类
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData4;
            }else if(modelName == enumWorkFlowModel.postLoanRetailIndivMortgage || modelName == enumWorkFlowModel.postLoanRetailIndivConsume || modelName == enumWorkFlowModel.postLoanRetailIndivOperate){
                // 台账列表处发起 && 贷后跟踪-零售银行部个人按揭 || 零售银行部个人消费 || 零售银行部个人经营
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData5;
            }else{
                // 催收/不良资产登记/利息减免/诉讼/抵债资产接收/资产处置等流程发起节点
                getInnateAccloanDataUrl = remoteApi.searchInnateAccloanData6;
            }
            var promise = getRemoteData({
                // loading: true,
                url: getInnateAccloanDataUrl + dataId
                // callback: function(origin){
                //     defaultData = origin.content[0] || {};
                //     renderData();
                //     alert(1)
                // }
                // error:function(err){
                    // console.warn(err)
                    // layer.msg(err, {icon: 5, time: 1000}, function(){
                    //     var index = parent.layer.getFrameIndex(window.name);
                    //     parent.layer.close(index);
                    // });
                // }
            });

            $.when(promise, getWorkflowModel()).then(function (a,b) {
                try{
                    var defaultData = a[0].data.list[0] || {};
                    var wfModel = workFlowModel = b[0].data;
                    renderDataEx(defaultData,wfModel)
                }
                catch (e) {
                    console.log(a,b,e)
                }
            });

            console.log(promise)
        }
        // 不允许对客户发起资料收集
        else if(cusId != 'undefined'){
            // dataSource = "CLIENT";
            // dataId = cusId;
            // if(cusType == 'com'){
            //     // 对公客户
            //     getInnateAccloanDataUrl = remoteApi.apiOdsSearchCUS_COM+"?CUS_ID="+cusId;
            // }else{
            //     // 对私客户
            //     getInnateAccloanDataUrl = remoteApi.apiOdsSearchCUS_INDIV+"?CUS_ID="+cusId;
            // }
            // getRemoteData({
            //     // loading: true,
            //     url: getInnateAccloanDataUrl,
            //     callback: function(origin){
            //         defaultData = origin.content[0] || {};
            //         renderData();
            //     }
            // })
            // defaultData["CUS_ID"] = cusId;
        }else{
            $.when(getWorkflowModel()).then(function(a){
                try{
                    workFlowModel = a.data;
                    renderDataEx({}, a.data);
                }
                catch (e) {
                    console.log(a,e)
                }
            });
        }

        function renderDataEx(defaultData,workFlowModel) {
            if(workFlowModel.point){
                isPonit = true;
                // TODO::
//                        currUser
            }
            if(typeof workFlowModel == "undefined"){
                layErrorMsg("您没有该流程发起权限！");
                return false;
            }
            // var nodes = workFlowModel.nodeModels || []; // 模型的各个节点
            // var startNode = nodes[0] || undefined; // 开始节点
            var model = JSON.parse(workFlowModel.model);
            var startNode = $.grep(model.flow, function (v) {
                return v.name == workFlowModel.startNodeName
            })[0]
            // console.log(startNode)
            // var startNode = workFlowModel.startNode;

            var startNodeAttr = [];
            if(!startNode){
                layErrorMsg("该工作流配置有误，请联系管理员！");
                return false;
            }else{
                var nodeAttrInfo = getFormAttrFromNode({
                    type: "input"
                    , node : startNode
                        //JSON.parse(startNode)
                });
                // console.log(nodeAttrInfo)
                startNodeKeys = nodeAttrInfo.attrKeys;
                startNodeAttr = nodeAttrInfo.attr;
            }
            // 缺省填写的字段信息
            var addFormAttr = [
                // { prop: 'dealerId', type:'hidden' },
                { prop: 'dealerId', label: '处理人', type:"select", required:true, vals: $.map(workFlowModel.dealers,function (v) {
                        return {name: v.utname + "(" + v.uname + ")" , val: v.uid}
                    }) },
                { prop: 'modelId', type:'hidden' },
                { prop: 'modelName', label:'工作流名称', disabled: true, required: true },
                { prop: 'common', label: '公共任务', type: "checkbox" ,vals:[1] },
                { prop: 'title', label: '任务标题', required: true }
                // { prop: 'info', label: '任务描述', type: 'textarea', width: 12,labelWidth: 2 }
            ];
            var addFormRules = {};
            if(dataId){
                addFormAttr.unshift({ prop: 'dataId', type:'hidden' });
                addFormAttr.push({ prop: 'dataSource', type:'hidden' });
            }
            // 开始节点追加的字段
            if(workFlowModel){
                var formAttrs = [];
                var innates = model.innates || [];//JSON.parse(workFlowModel.innates) || []; // 固有字段
                if(innates.length > 0){
                    innates.forEach(function (item) {
                        var _item = item;
                        formAttrs.push(_item);
                        innatesKyes.push(_item.ename);
                    });
                }
                if(!isPonit){
                    formAttrs.push.apply(formAttrs, startNodeAttr); // 追加流程节点字段
                }
                var fixForm = fixFormAttrToEnable(formAttrs,loanAccount);
                addFormAttr.push.apply(addFormAttr, fixForm.fixAttrs);
                addFormRules = fixForm.fixRules;
            }

            // 公共缺省数据
            defaultData['title'] = modelName;
            defaultData['modelName'] = modelName;
            defaultData['dealerId'] = currUser.id;
            defaultData['dealerName'] = currUser.name;
            defaultData['dataSource'] = dataSource;
            defaultData['dataId'] = dataId;


            defaultData["FXFF"] = ["贷款到期催收通知书"];

            // 生成form
            console.warn(addFormAttr)
            $("#addForm").html(template('tmpl',{
                isPoint: isPonit,
                panelTitle:'添加任务 - ' + modelName,
                formAttr: addFormAttr,
                data: defaultData,
                workFlowModel: workFlowModel
                , pubUid: getParam("pubUid")
            }));

            //指派的时候, 隐藏不需要的字段
            $.each(startNodeAttr, function (i,v) {
                $("[name="+v.ename+"]").closest(".form-group").attr("data-start", 1);
            });


            //上传
            initupload();

            var uid = $.cookie("userId");
            var duelem = $("#dealerId").change(function () {
                //指派
                if($(this).val() != uid){
                    $("[data-start=1]").hide();
                    $("#goToNext").hide();
                    $("#uploadSelector").hide();
                    $(".layui-upload-file").hide();
                }
                //自己执行不存在指派
                else{
                    $("[name=common]").closest(".form-group").hide();
                    $("#goToNext").show();
                    $("#uploadSelector").show();
                    $(".layui-upload-file").show();
                }
            });
            if(getParam("pubUid")){
                duelem.val(getParam("pubUid"));
            }
            duelem.trigger("change");

            $("[name=common]").click(function () {
                if($(this).is(":checked")){
                   $("[name=dealerId]").prop("disabled", true);
                }
                else{
                    $("[name=dealerId]").prop("disabled", false);
                }
            });


            // console.log(startNodeAttr)
            // 再渲染特殊attr
            if(fixForm && fixForm.datetimeAttrKeys.length > 0){
                $(function() {
                    fixForm.datetimeAttrKeys.forEach(function(o){
                        layui.use("laydate",function () {
                            layui.laydate.render({
                                elem: "#" + o.name
                                ,type: o.type
                            });
                        })
                    })
                });
            }

            //修复房产证
            ;(function () {
                // $("select[name=FCZ] option").each(function () {
                //     if($(this).index() == 0){
                //         $(this).val(1);
                //     } else {
                //         $(this).val(0);
                //     }
                // });
                var FCZ = $("[name=FCZ]");
                var val = FCZ.attr("value");
                if(val == "1"){
                    FCZ.val("已出证")
                } else {
                    FCZ.val("未出证")
                }
                // if(FCZ !== ""){
                //     $("select[name=FCZ]")
                //         .prop("disabled", true)
                //         .val(FCZ)
                // }
                // if($("[name=MMHTJYRQ_DATE]").val()){
                //     $("[name=MMHTJYRQ_DATE]").prop("disabled", true);
                // }
                // if($("[name=FCZ_DATE]").val()){
                //     $("[name=FCZ_DATE]").prop("disabled", true);
                // }

            })();

            // form规则
            addFormRules['title'] = { required: true, minlength:2 };
            // form提交
            // return;
            var form = $("form[name='form-search']");
            form.validate({
                rules: addFormRules,
                submitHandler: function(){
                    if(form.valid()) {
                        var gotoNext = "false";
                        if(eventBtn == 'goToNext'){
                            $("#goToNext").addClass("disabled");
                            gotoNext = "true";
                            setTimeout(function(){
                                $("#goToNext").removeClass("disabled");
                            }, 2500)
                        }else{
                            $("#submitData").addClass("disabled");
                            setTimeout(function(){
                                $("#submitData").removeClass("disabled");
                            }, 2500)
                        }
                        var formDataArr = form.serializeArray();
                        var formData = {};
                        formDataArr.forEach(function(elm){
                            if(formData[elm.name]){
                                var arr = formData[elm.name].split(",");
                                arr.push(elm.value)
                                formData[elm.name] = arr.join(",");
                            }else{
                                formData[elm.name] = elm.value;
                            }
                        })
                        var startNodeData = {};
                        var innatesData = {};
                        for(var attr in formData){
                            // 开始节点数据
                            if(formData.hasOwnProperty(attr) && startNodeKeys.indexOf(attr) >= 0){
                                startNodeData[attr] = formData[attr];
                            }
                            // 固有字段数据
                            if(formData.hasOwnProperty(attr) && innatesKyes.indexOf(attr) >= 0){
                                innatesData[attr] = formData[attr];
                            }
                        }
                        var isCommon = $("[name='common']").prop("checked");
                        var files = [];
                        $("li[data-key]:visible").each(function () {
                            var file = $(this).data("file")
                            if(file){
                                var tags = file.tags || "";
                                tags = tags.split(",");
                                file.tags = tags;
                                files.push(file)
                            }
                        });

                        //如果确定提交，得所有能看见的打钩才行
                        if(gotoNext == 'true' && workFlowModel.modelName == '贷前流程审批'){
                            var flag = true;
                            $("input[type=checkbox]:visible").each(function () {
                                flag &= $(this).is(":checked")
                            });
                            if(!flag){
                                layer.msg("请确定已经上传所有证件")
                                return;
                            }
                        }

                        innatesData.LOAN_ACCOUNT = innatesData.LOAN_ACCOUNT || "";

                        var _formData = {
                            // "dataId": formData.dataId,
                            // "dataSource": formData.dataSource,
                            "dealUserId": formData.dealerId,
                            "files": files,
                            // "info": formData.info,
                            "modelId": workFlowModel.id,
                            "title": formData.title,
                            // "common": isCommon,
                            // "id": workFlowModel.autoId,
                            extMap:{
                                $data: innatesData,
                                $common: isCommon
                                , $startNodeData: startNodeData
                                , $goNext: gotoNext == "true"
                                , $files: files
                            }
                        }
                        postFetch(
                            remoteOrigin + "/api/auto/wfins/add"
                            , _formData
                            , function(origin){
                                $(".btn-primary").removeClass("disabled");
                                if(origin){
                                    $("<button tab-href='/htmlsrc/workFlow/nodeStates.html?id="+origin+"' tab-title='查看任务-"+origin+"' style='display: none'>ccc</button>")
                                        .appendTo("body")
                                        .trigger("click");
                                }
                                closeCurrentIframe();


                                // if(eventBtn == 'goToNext'){
                                //     if(isCommon){
                                //         layer.msg("发布成功", {time: 500}, function(){
                                //             var index=parent.layer.getFrameIndex(window.name);parent.layer.close(index);
                                //         })
                                //     }else{
                                //         location.href = './nodeDeal.html?id=' + origin.id;
                                //     }
                                // }else{
                                //     layer.msg("数据保存成功", {time: 500}, function(){
                                //         var index=parent.layer.getFrameIndex(window.name);parent.layer.close(index);
                                //     })
                                // }
                                // if(parent.addWorkNodeCallback){
                                //     parent.addWorkNodeCallback();
                                // }
                            }
                        );
                        return false;
                    }
                    return false;
                }
            });
        }

        function getWorkflowModel() {
            return getFetch(
                remoteOrigin + "/api/auto/wfmodel/getForPub"
                , {
                    modelName: modelName
                }
            )
        }

        function renderData(){
        }
        
        // 选择执行人
        eventBind("#groupBtn-dealerName", function(){
            callbackInput = {
                id: "[name='dealerId']",
                name: "#dealerName"
            }
            layerOpenIframe({
                w: 740,
                title:'选中处理对象',
                url: '../htmllayer/choiceUser.html?urlType=deal&modelId='+workFlowModel.id
            })
        });
      

        var uploadFiles = [];
        // 附件上传
        var uploadSetting = {
//            url: remoteApi.apiWorkflowTempFileUpload, // 上传文件api
            url: remoteApi.apiUploadFile,
            formData: {
                fileType: "FILE"
            } // 传递参数
        }
        eventBind("#handleUpload", function(){
            uploadFileIndex = layer.open({
                type: 2,
                title:'添加附件',
                area: ['790px', '350px'],
                fixed: false, //不固定
                maxmin: true,
                content: '../htmllayer/uploadFile.html?dir=' + workFlowModel.autoId
            }); 
        });
        function choiceFileCallback(res){
            uploadFiles.push(res.data);
        }
        function renderFiles(){
            if(uploadFiles.length == 0){
                $("#uploadfiles").siblings(".layui-form").hide();
                return false;
            }else{
                $("#uploadfiles").siblings(".layui-form").show();
            }
            console.warn(uploadFiles)
            if($('#uploadfiles table').length){
                layuiTableReload({
                    id:"uploadfiles",
                    data: uploadFiles
                });
                return;
            }

            laytableRender({
                id: "uploadfiles",
                elem: "#uploadfiles",
                cols: [
                    [
                        { field: "name", title: '文件名' },
                        { field: 'tags', title: '标签' },
                        { title: '操作', templet: "#toolbar"}
                    ]
                ],
                data: uploadFiles
                ,page: false
            })
            return true;
        }
        function uploadFinishedCallback(){
            renderFiles();
            layer.close(uploadFileIndex);
            layer.msg("上传完成");
        }

        // 重命名 - begin
        eventBind('.handlePutName', function(that){
            layer.prompt({title: '输入新文件名', formType: 2, value: that.data("name")}, function(pass, index){
                var target = $.grep(uploadFiles, function (v) {
                    return v.id == that.attr('data-id')
                });
                // layer.close(index);
                getFetch(
                    remoteApi.apiFileRename
                    ,{
                        fid: that.attr("data-id"),
                        name: pass
                    }
                    , function(){
                        layer.close(index); // 关闭重命名窗口
                        target[0].name = pass;
                        renderFiles();
                    }
                )

                // layer.prompt({title: '随便写点啥，并确认', formType: 2}, function(text, index){
                //     layer.close(index);
                //     layer.msg('演示完毕！您的口令：'+ pass +'<br>您最后写下了：'+text);
                // });
            });
            return;

            putNameIndex = layer.open({
                title:'重命名',
                type: 1,
                area: ['333px', '145px'],
                content: $("#putNameForm").html()
            });
            $("input[name='putIndex']").val(that.data('index'));
            $("input[name='putId']").val(that.data('id'));
            $("input[name='putName']").val(that.data('name'));
        })
        function cancelPutName(){
            layer.close(putNameIndex); // 关闭重命名窗口
        }
        function confirmPutName(){
            var index = $("input[name='putIndex']").val();
            var id = $("input[name='putId']").val();
            var putName = $("input[name='putName']").val();
            // 确定重命名
            getFetch(
                remoteApi.apiFileRename
                ,{
                    fid: id,
                    name: putName
                }
                , function(){
                    layer.close(putNameIndex); // 关闭重命名窗口
                    uploadFiles[index]['name'] = putName;
                    renderFiles();
                }
            )
        }
        // 重命名 - end
        // 设置标签 - begin
        eventBind(".handleSetTag", function(that){
            currEditFileIndex = that.data("index");
            currEditFile = uploadFiles[currEditFileIndex];
            currEditFileTag = (currEditFile.tags || '').split(" ");
            addTagIndex = layer.open({
                type: 2,
                title:'设置文件标签',
                area: ['500px', '220px'],
                fixed: false,
                maxmin: true,
                content: '../document/addFileTags.html?id='+that.data("id")
            });
        })
        function addTagCallbakc(file, tags){
            layer.close(addTagIndex);
            var fileId = currEditFile.id;
            var tags = encodeURI(tags.join(" "));
            postRemoteData({
                url: remoteApi.apiFileRetags,
                data: {
                    fileId: fileId,
                    tags: tags,
                    token: getUserToken()
                },
                callback: function(){
                    layer.msg("标签设置成功", {time: 500});
                    uploadFiles[currEditFileIndex]['tags'] = decodeURI(tags);
                    renderFiles();
                }
            })
        }
        // 设置标签 - end
        // 删除已上传文件

        // 保存草稿
        eventBind("#submitData", function(that){
            eventBtn = 'submitData';
            $("form[name='form-search']").submit();
        })
        // 提交下一步
        eventBind("#goToNext", function(that){
            eventBtn = 'goToNext';
            $("form[name='form-search']").submit();
        });

        function checkSubmitForm(){
            // 向下兼容
            return false;
        }
    </script>
</body>
</html>


<script type="text/html" id="file-list-item">
    <li data-key="{{uuid}}" style="padding-top: 4px;padding-bottom: 4px;">
        <span class="name">{{name}}</span>
        <span class="state" data-per="0"></span>
        <!--标签-->
        <span class="tags"></span>
        <button class="btn btn-sm btn-link btn-rename" type="button" style="margin-left: 5px;">重命名</button>
        <button class="btn btn-sm btn-link btn-tags" type="button" style="margin-left: 5px;">设置标签</button>
        <button type="button" class="btn btn-sm btn-link btn-filetype">设置文件类型</button>
        <button class="btn btn-sm btn-link btn-remove" type="button" style="margin-left: 5px;">删除</button>
    </li>
</script>


<script>
    window.$files = [];
    function fixUploadTable() {
        if($("#uploadfiles table tr").length >= 2) {
            $("#uploadfiles table").show()
        }
        else{
            $("#uploadfiles table").hide()
        }
    }
    function initupload() {
        window.lastid = window.lastid || null
        layui.use(["laytpl"], function (laytpl) {
            var html = $("#file-list-item").html();
            var tpl = template.compile(html);
            //webuploader
            // 上传初始化
            var uploader = WebUploader.create({
                swf: '/static/vendor/webUploader/Uploader.swf',
                server: remoteOrigin + '/api/file/upload', //上传接口
                pick:'#picker',
                auto:true,
                fileVal: 'file',
                resize: false,
                dupliacate: true
            });
            //样式处理
            // $("#picker div, #picker input").css({
            //     position: 'relative',
            //     left:0,
            //     top:0,
            //     width: '100%',
            //     height: '100%'
            // })
            uploader.on("uploadBeforeSend", function(obj, data, headers){
                // data.pid = currDirId;
                // data.uuid
                data.uuid = obj.file.uuid
                data.type = 'MESSAGE'
                // console.log(obj)
            })
            // 单个文件上传进度
            uploader.on('uploadProgress', function( file, percentage ) {
                // var $li = $( '#' + file.id),
                //     $percent = $li.find('.progress .progress-bar');
                // $li.find('p.state').text('上传中');
                // $percent.css('width', percentage * 100 + '%' );
                // $percent.text(Math.floor(percentage*100) + '%');
            });
            // 上传失败
            uploader.on('uploadError', function(file, res) {
                $("li[data-key=" + file.uuid + "]")
                    .find(".state")
                    .removeClass("state")
                    .text("上传失败, 请稍后重试");
                uploader.removeFile(file)
            });
            // 单个文件上传成功
            uploader.on('uploadSuccess', function(file, res) {
                if(res.success){
                    $("li[data-key="+file.uuid+"]")
                        .data("file", (res.data))
                        .find(".state")
                        .remove();
                }
                else if(!res.success){
                    $("li[data-key=" + file.uuid + "]")
                        .find(".state")
                        .removeClass("state")
                        .text("上传失败, 请稍后重试");
                    uploader.removeFile(file)
                }
                // if(res.success){
                //
                // }
                // $('#'+file.id ).find('.state').text('已上传').addClass('info');
            });
            // 本次添加文件全部添加到队列后
            uploader.on('filesQueued', function(files) {
                var time = new Date().getTime()
                for(var i = 0; i < files.length; i++){
                    var uuid = time + (i)
                    files[i].uuid = uuid
                    if($("[data-key="+uuid+"]").length){
                        continue;
                    }
                    $(".file-list").append(tpl(files[i]));
                    // lastid = uuid;
                }
                console.log(files)
            });
            // 上传结束
            uploader.on('uploadFinished', function() {
                // reloadByDirId();
            });

            // 移除上传
            $(document).on('click', '.handleRemove', function() {
                uploader.removeFile($(this).data("id"));
                $(this).parents("tr.item").remove();
            })




            //layui

            return;
            // $files.push()
            var uploadInst = upload.render({
                elem: '#uploadSelector' //绑定元素
                ,url: remoteOrigin + '/api/file/upload' //上传接口
                ,accept: "file"
                ,auto:false
                ,multiple: true
                ,data:{
                    type:"MESSAGE"
                    ,uuid: function () {
                        return lastid
                    }
                }
                ,choose: function (item) {
                    var files = item.pushFile();
                    for(var key in files){
                        files[key].uuid = key;
                        // $files[key] = files[key]
                        if($("[data-key="+key+"]").length){
                            continue;
                        }
                        // alert(123)
                        //渲染
                        // console.log(tpl(files[key]))
                        $(".file-list").append(tpl(files[key]));
                        // fixUploadTable();
                        //上传
                        lastid = key;
                        item.upload(key,files[key])
                    }
                    // console.log(item)
                }
                ,done: function(res){
                    if(res.success && res.data.uuid){
                        $("li[data-key="+res.data.uuid+"]")
                            .data("file", (res.data))
                            .find(".state")
                            .remove();
                    }
                    else if(!res.success){
                        $("li[data-key=" + res.errMessagee + "]")
                            .find(".state")
                            .removeClass("state")
                            .text("上传失败, 请稍后重试");
                    }
                    //上传完毕回调
                    // console.log(res)
                    //上传完毕回调
                }
                ,error: function(index,upload){
                    $("li[data-key="+index+"]")
                        .hide();
                    //请求异常回调
                }
            });
        })
    }

    $(document).on("click",'.btn-remove', function () {
        $(this).closest("li").hide();
    });
    $(document).on("click", ".btn-rename", function () {
        var t = $(this).closest("li")
        var data = t.data("file");
        if(!data){
            return;
            // t.find(".btn-remove").click();
        }
        layer.prompt({title: '输入新文件名', formType: 2, value: data.sname}, function(text, index){
            layer.close(index);
            if($.trim(text)){
                data.sname = $.trim(text);
            }
            t.data("file", (data))
            t.find(".name").text(data.sname)
        });
    });
    $(document).on("click", ".btn-tags", function () {
        var t = $(this).closest("li")
        var data = t.data("file");
        if(!data){
            return;
            // t.find(".btn-remove").click();
        }
        layer.prompt({title: '输入标签,以逗号分隔', formType: 2, value: data.tags}, function(text, index){
            layer.close(index);
            if($.trim(text)){
                var tags = $.trim(text).split(/,|，/)
                tags = $.grep(tags, function (v) {
                    return v;
                });
                tags = unique4(tags);
                t.find(".tags").empty();
                $.each(tags, function (i,v) {
                    $("<span class='label label-info' style='margin-left: 5px;margin-right: 5px;'>"+v+"</span>").appendTo(t.find(".tags"))
                });
                data.tags = tags.join(",")
                t.data("file", (data))
            }
        });
    });

    function unique4(arr){
        var hash=[];
        for (var i = 0; i < arr.length; i++) {
            for (var j = i+1; j < arr.length; j++) {
                if(arr[i]===arr[j]){
                    ++i;
                }
            }
            hash.push(arr[i]);
        }
        return hash;
    }

    var ftIdex = -1;
    var ftTarget = null;
    $(document).on("click", ".btn-filetype", function () {
        var t = $(this).closest("li")
        ftTarget = t;
        var data = t.data("file");
        if(!data){
            return;
            // t.find(".btn-remove").click();
        }
        ftIdex = layer.open({
            type: 2,
            title:"设置文件类型",
            content: "/htmlsrc/workFlow/file_type.html"
            // area:["300px", "200px"]
        });
    });

    function onFileTypeClick(type) {
        if(ftIdex > -1){
            layer.close(ftIdex);
            var data = ftTarget.data("file");
            var tags = (data.tags || '').split(",");
            tags = $.grep(tags, function (v) {
                return v;
            });
            tags.push("文件类型:"+type);
            // console.log(tags)
            tags = unique4(tags);
            ftTarget.find(".tags").empty();
            $.each(tags, function (i,v) {
                $("<span class='label label-info' style='margin-left: 5px;margin-right: 5px;'>"+v+"</span>").appendTo(ftTarget.find(".tags"))
            });
            data.tags = tags.join(",");
            ftTarget.data("file", (data));

            ftIdex = -1;
            ftTarget = null;
        }

    }

    ;(function () {
        setInterval(function () {
            $(".file-list .state").each(function () {
                var t = $(this);
                var per = Number(t.data('per'));
                if(per++ >= 100){
                    // t.removeClass("state").empty();
                }
                else{
                    t.data("per",per);
                    t.text("正在上传(" + per + "%)");
                }
            })
        },30);
    })();
</script>
<script>
    $(document).on("change","input[name],select[name]",function () {
        var name = $(this).attr("name")
        var obj = {}
        $("input,select").each(function () {
            obj[$(this).attr("name")] = this.value;
        });
        $("[data-show]").each(function () {
            var _this = $(this);
            var val = _this.data("show");
            if(val && val.indexOf(name) > -1){
                // var code = "var " + name + " = '" + $("[name="+name+"]").val() + "'";
                // code = "(function(){ "+code+"; return " + val + "})()"
                with(obj){
                    var b = eval(val);
                    b ? _this.show() : _this.hide()
                }
            }
        });
    });
</script>