<div >
    <p>
        <b>节点类型</b>
    </p>
    <p>
        资料
    </p>
    <p>
        <b>节点属性</b>
    </p>
    <div>
        <div :if="@edit">
            <a :click="@addField('text')" class="btn blue">添加单行文本</a>
            <a :click="@addField('textarea')" class="btn blue">添加多行文本</a>
            <a :click="@addField('radio')" class="btn blue">添加单选框</a>
            <a :click="@addField('checkbox')" class="btn blue">添加多选框</a>
            <a :click="@addField('file')" class="btn blue">添加文件上传（未完成）</a>
        </div>

        <table>
            <thead>
                <th>字段名称</th>
                <th>字段类型</th>
                <th>是否必填</th>
                <th>字段信息</th>
                <th :if="@edit">操作</th>
            </thead>
            <tr :for="(index,el) in @data.fields">
                <td class="">
                    <b :if="!@edit" :html="el.name"></b>
                    <input type="text" :duplex="el.name" :if="@edit">
                </td>
                <td class="">
                    <b :if="el.type == 'text'">单行文本</b>
                    <b :if="el.type == 'textarea'">多行文本</b>
                    <b :if="el.type == 'radio'">单选框</b>
                    <b :if="el.type == 'checkbox'">多选框</b>
                    <b :if="el.type == 'file'">文件上传</b>
                </td>
                <td>
                    <span :if="!@edit && el.required">是</span>
                    <span :if="!@edit && !el.required">否</span>
                    <input :if="@edit" type="checkbox" :duplex="el.required">
                </td>
                <td class="">
                    <wbr :widget="{is: el.type,data:el,edit: @edit}"/>
                </td>
                <td :if="@edit">
                    <a href="javascript:;" :click="@removeField(index)">删除字段</a>
                </td>
            </tr>
        </table>

    </div>
</div>