body {
  overflow-y: hidden !important;
}
#handleUnReadMsg,
#handleUnDealTask {
  position: relative;
}
#handleUnReadMsg .glyphicon,
#handleUnDealTask .glyphicon {
  margin-top: 15px;
  font-size: 20px;
  color: #eee;
}
#unReadMsgCount,
#unDealTaskCount {
  background-color: red;
  color: #fff;
  padding: 0 4px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -8px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  display: none;
}
#reloadIframe,
#closeOtherIframe {
  border-left: 1px solid #ddd;
}
.navbar-header .dropdown-menu {
  left: auto;
  right: 0;
}
#navbar-user-name {
  width: 60px;
}
#content-wrap {
  background-color: #f4f4f4;
}
#myTab {
  margin-bottom: 0;
  margin-left: 0;
  border: 0;
  top: 2px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}
#myTab .pull-left {
  background-color: #fff;
  color: #4e97d9;
  border-bottom-color: transparent;
  border-top: 2px solid #2dc3e8;
  height: 35px;
  background: #fff;
  line-height: 40px;
  padding: 0px 6px;
  font-size: 22px;
}
#myTab li i:before {
  content: "";
  line-height: 0;
  margin-right: 2px;
  background-position: -110px -64px;
  margin: 3px 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("/static/vendor/ztree/css/zTreeStyle/img/zTreeStandard.png");
}
#myTab > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 0px;
  margin-left: 5px;
  border-top: 2px solid #2dc3e8;
  height: 35px;
  overflow: hidden;
  background: #dedede;
  background: rgba(0, 0, 0, 0.05);
  color: #777;
}
#myTab > li > a {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 0px 8px 10px;
  margin: 0 20px 0 0;
  border-top: 0px;
  box-shadow: none;
  background: transparent;
  line-height: 17px;
  border: 0;
  max-width: 108px;
  color: #777;
}
#myTab > li.active {
  border-top: 2px solid #2dc3e8;
}
.tabbable {
  border: none;
  margin-bottom: 10px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs li i {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
#myTab > li.active,
#myTab > li:hover,
#myTab > li:focus {
  background-color: #fff;
}
#myTab li [class*=" fa-"],
#myTab li [class^="fa-"] {
  vertical-align: middle;
  margin-left: 0px;
  position: absolute;
  right: 2px;
  margin-top: 5px;
}
.tab-content {
  background: none;
  padding: 0;
  padding-top: 5px;
  position: relative;
}
.tab-content > div {
  display: none;
}
.tab-content > div.active {
  display: block;
}
#open-side-menu .glyphicon {
  margin: 0 10px;
  color: #fff;
}
