html {
  overflow: hidden !important;
  height: 100% !important;
}
body {
  overflow-y: scroll !important;
  height: 100% !important;
}
#content {
  background: #fff;
}
.panel-qcc-heading a {
  color: #000;
}
.panel-heading {
  padding: 6px 15px;
}
.fixed {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
.path {
  display: inline-block;
  width: 84px;
  height: 26px;
  background: url('/static/htmlImage/line_arrow.png') no-repeat right bottom;
  background-size: 75px 8px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #128bed;
  text-align: center;
  position: relative;
  top: -9px;
  margin-right: 6px;
}
ins {
  background-color: #FEC8C8;
  text-decoration: none;
}
del {
  color: #999;
  background-color: #FEC8C8;
}
.text {
  float: left;
  width: 30%;
  border: 1px solid blue;
  margin: 10px;
}
.com-logo-preview {
  display: none;
  position: absolute;
  z-index: 10;
}
.type-file-show {
  position: relative;
}
.type-file-show:hover .com-logo-preview {
  left: 40px;
  top: -5px;
  display: block !important;
}
