body {
  overflow-y: scroll;
}
#content {
  overflow: hidden;
  padding: 10px 10px 20px 10px;
}
#content2 {
  overflow: hidden;
  padding: 10px 0 20px 0;
}
.deep1 {
  padding-left: 10px;
}
.deep2 {
  padding-left: 20px;
}
.deep3 {
  padding-left: 30px;
}
.bootcss-none-info {
  line-height: 40px;
  text-align: center;
}
#toggleSideMenu {
  position: absolute;
  right: -14px;
  font-size: 12px;
  top: 50%;
  margin-top: -20px;
  padding: 10px 0;
  border-top-right-radius: 6px;
  border: solid #ddd;
  border-width: 1px 1px 1px 0;
  border-bottom-right-radius: 6px;
}
.login-wrap {
  height: 100%;
  width: 100%;
  background-image: url("../htmlImage/login.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}
.form-signin {
  height: 100%;
  background-color: #fff;
  padding: 0 40px;
}
.batch-operation .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.batch-operation .label {
  float: right;
  background: #5bc0de;
  margin-top: 10px;
  margin-right: 5px;
}
.layui-toolbar .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.layui-toolbar .dropdown-menu {
  width: 200px;
  left: -160px;
}
.layui-toolbar .dropdown-menu li {
  width: 99px;
  float: left;
}
.layui-toolbar .dropdown-menu > li > a {
  padding: 3px 0;
  text-align: center;
}
.layui-table-body {
  min-height: 220px;
}
.layui-table-view .layui-form-checkbox[lay-skin=primary] i {
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #409eff;
  background-color: #409eff;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #409eff;
  color: #fff;
}
.webuploader-container {
  position: relative;
  float: left;
  margin-right: 5px;
}
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.webuploader-pick {
  font-size: 12px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 7px 11px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.webuploader-pick-hover {
  background: #00a2d4;
}
.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none;
}
.tab-content .panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.gotomars-side-scroll {
  background-color: #263238;
}
#x-wrap-menu {
  padding-left: 18px;
}
#x-wrap-menu li span {
  color: #a3afb7;
}
#x-wrap-menu li a.curSelectedNode {
  opacity: 1;
  border: 0;
  background-color: #263526;
}
#x-wrap-menu li a.curSelectedNode span {
  color: #fff;
}
#x-wrap-menu .switch {
  float: right;
}
.nav-wrap {
  background-color: #4e97d9;
}
.nav-wrap a {
  color: #fff;
}
.nav-wrap .nav > li > a:focus,
.nav-wrap .nav > li > a:hover,
.nav-wrap li.active {
  background-color: #1786bf;
}
.btn-primary {
  background-color: #00a4ff;
  border-color: #00a4ff;
}
.btn-primary:hover {
  background-color: #378CEE;
  border-color: #378CEE;
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: #378CEE;
  border-color: #378CEE;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #378CEE;
  border-color: #378CEE;
}
.panel-default {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #1786bf;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 0;
  border-bottom: 2px solid;
  color: #409eff;
}
.nav > li > a {
  padding: 8px 10px;
}
.nav-wrap .nav > li > a {
  padding: 15px 10px;
}
#qcc-detail-content .data-tab a {
  border-radius: 0;
  margin-bottom: 5px;
}
.panel-group .panel {
  margin-bottom: 15px;
}
.panel-qcc {
  border: white 1px solid;
  margin-bottom: 15px;
  box-shadow: none;
}
.panel-qcc-heading {
  padding: 0px;
  margin-bottom: 10px;
  padding-top: 15px;
  font-size: 16px;
  color: #222;
  font-weight: 600;
  line-height: 1.8;
}
.panel-qcc-body .fixed-table-container tbody td {
  border: 1px solid #ddd;
}
.panel-qcc-body .fixed-table-container {
  border: 0;
  border-top: #ddd 1px solid;
}
.panel-qcc-body tbody tr td:first-child,
.panel-qcc-body thead tr th:first-child {
  border-left: #ddd 1px solid !important;
}
.panel-qcc-body tbody tr:first-child td {
  border-top: #ddd 1px solid;
}
.panel-qcc-body table tr th:not(:last-child) {
  border-right: #F2F9FC 1px solid;
}
.panel-qcc-body table tr th {
  text-align: center;
  background: #5da1ef;
  border: #5da1ef 1px solid;
  color: #fcfcfc;
  border-collapse: collapse;
  padding: 12px 12px 12px 12px;
  font-weight: normal;
  line-height: 19px;
}
.panel-qcc .pagination > li {
  display: block;
  float: left;
  margin: 0 5px;
}
.qcc-table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.qcc-table .tb {
  background: #5da1ef;
  color: #fcfcfc;
}
.qcc-table td {
  padding: 10px 10px 11px 10px;
  border: #E4EEF6 1px solid;
  word-break: break-all;
  font-size: 14px;
  line-height: 1.6;
  color: #222;
}
.qcc-table-1 .text-right {
  background: #5da1ef;
  color: #fcfcfc;
}
