<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div id="main">
    <style>
        #main{
            overflow: hidden;
        }
        .left{
            float: left;
        }
        .right{
            float: left;
            padding-left: 20px;
        }
    </style>
    <div class="left">
            <%
            for(map in adminMenu){
            %>
            <dl>
                <dt>
                    ${map.title}
                </dt>
                <%
                for(child in map.children){
                %>
                <dd>
                    <a href="${child.href}">
                        ${child.title}
                    </a>
                </dd>
                <% } %>
            </dl>
            <%
            }
            %>
    </div>
    <div class="right">
        ${RIGHTHTML}
    </div>
</div>
</body>
</html>